@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 769px) {

  .main {
    justify-content:center;
    align-items:center;
  }

  .now-playing {
    display:flex;
    flex-direction: row;
  }

  .left {
    flex:2;
    justify-content:flex-start;
    align-items:flex-start;
  }

  .album {
    width:30vw;
    min-width:170px;
    max-width:370px;
    max-height:370px;
  }

  .record {
    width:30vw;
    min-width:170px;
    max-width:370px;
    max-height:370px;
    left:-15vw;
  }

  .star-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
  }

  p {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .main {
    padding-top: 5vh;
    justify-content: flex-start;
    align-items: center;
  }

  .now-playing {
    display:flex;
    flex-direction: column;
  }
  
  .left {
    flex:1;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 5vh;
  }

  .album {
    width:30vw;
    min-width:170px;
    max-width:200px;
    max-height:200px;
  }

  .record {
    width:30vw;
    min-width:170px;
    max-width:200px;
    max-height:200px;
    left:-15vw;
  }

  .star-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:50%;
  }

  p {
    font-size: 1.2rem;
  }
  
}

@media only screen and (max-width: 600px){

  .main {
    justify-content:center;
    align-items:center;
  }
  
  .now-playing {
    display:flex;
    flex-direction: column;
  }
  
  .left {
    flex:1;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 5vh;
  }

  .album {
    width:100%;
    min-width:170px;
    max-width:370px;
    max-height:370px;
  }

  .record {
    width:100%;
    min-width:170px;
    max-width:370px;
    max-height:370px;
    left:-20vw;
  }

  .star-cont {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:100%;
  }

  p {
    font-size: 1.2rem;
  }
}

/* Trackloop */

#rssBlock{
  left:0px;
  top:10px;
  height: 80px;
  position: absolute;
  width:100%;
  overflow: hidden;
}

/*remove p*/
.cnnContents {
  width:100%;
  padding-top: 20px;
  margin:0 auto;
  font-size: 30px;
  white-space: nowrap;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: white;
}

.marqueeStyle {
  display:inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left1 20s linear infinite;
  animation: scrolling-left1 20s linear infinite;
}

.marqueeStyle2 {
  display:inline-block;
  /* Apply animation to this element */
  -webkit-animation: scrolling-left2 20s linear infinite;
  animation: scrolling-left2 20s linear infinite;
  animation-delay: 10s;
}
/* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
    0% {transform: translateX(100%);
        -webkit-transform: translateX(100%);}
      100% {transform: translateX(-100%);
          -webkit-transform: translateX(-100%);}
}
@keyframes scrolling-left2 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}

@-webkit-keyframes scrolling-left1 {
    0% {-webkit-transform: translateX(100%);}
      100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes scrolling-left2 {
    0% {-webkit-transform: translateX(0%);}
      100% {-webkit-transform: translateX(-200%);}
}

.logo {
  width:300px;

  max-height:auto;
  left:-15vw;
}